body{
  background-color: rgb(151, 148, 148);
  background-image: url("../img/fondo.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center; /* Center the image */
  background-size: 30vw; 
  color: #343A40;
  font-family: 'Montserrat', sans-serif;
}

.paging{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li, .paging span{
  background-color: rgb(70, 67, 57); /* Green */
  border: none;
  color: rgb(141, 137, 137);
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: rgb(141, 137, 137);
  border-width: 2px;
  margin: 2px;
  border-radius: 2px;
}

main{
  margin-top: 10px;
}

.navbar{
  background-color: rgb(70, 67, 57);
}

h4, h3{
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-view{
  width: 100%;
}

.nopadding{
  padding-left: 0;
}
.rate-container{
  padding-left: 20px;
}
.rate{
  background-color: rgb(238, 228, 228);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  margin: 2px;
  border-color: rgb(70, 67, 57);
}

	
.ir-arriba {
	display:none;
	padding:20px;
	background:#F5CC1E;;
	font-size:10px;
	color:#fff;
	cursor:pointer;
  position: fixed;
  border-radius: 5px;
	bottom:20px;
	right:20px;
}
.specialties-check{
  
  text-align: center !important;
}

.form-check{
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 30px;
}

.query{
  background-color: rgba(255, 247, 247, 0.815);
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  padding: 15px;
  border-color: rgb(70, 67, 57);
}
.restaurants-search{
  background-color: rgba(255, 247, 247, 0.815);
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  padding: 15px;
  padding-top: 45px;
  margin: 35px;
  border-color: rgb(70, 67, 57);
}

.restaurant-list{
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  padding: 15px;
  margin-bottom: 10px;
  border-color: #F5CC1E;;

}

.restaurant-list a{
  color: rgb(70, 67, 57); 
}

.user-info{
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 15px;
  border-color: rgb(70, 67, 57);
}

.restaurant-form{
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 15px;
  margin-bottom: 50px;
  border-color: rgb(70, 67, 57);
}

.bottom{
    display: flex;
    align-items: flex-end;

}

.form-buttons{
  padding: 15px;
}

.user-form{
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 15px;
  margin-bottom: 50px;
  border-color: rgb(70, 67, 57);
}

.review{
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 15px;
  margin: 5px;
  border-color: rgb(70, 67, 57);
}

.container{
  background-color: rgba(255, 247, 247, 0.815);
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 10px;
  border-color: rgb(70, 67, 57);
}

.add-review{
  float: right;
  padding-right: 30px;
}

.carousel-container{
  width: 60vw;
}
.carousel{
  padding-bottom: 10px;
  
}

a{
  color: #F5CC1E;
}

.specialty{
  margin: 2px;
  
}

.select2-multiple{
  
  width: 100%;
}


/* modal login*/

.user_card {
  height: 400px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  background: rgb(70, 67, 57);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: #F5CC1E;

}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #F5CC1E;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #F5CC1E !important;
  color: rgb(70, 67, 57) !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #F5CC1E !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}

/* modal review*/

.modal-review{
  color: #F5CC1E;
  background: rgb(70, 67, 57);
}

.modal-flash{
  color: #F5CC1E;
  background: rgb(70, 67, 57);
}

/*footer*/


footer{
  background-color: rgb(70, 67, 57);
  color: #F5CC1E;
  font-family: 'Montserrat', sans-serif;
 
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.elemento{
  background-color: #F5CC1E;
  border-radius: 4px;
}

.hidden{
    display: none;
}
.map-edit{
    height: 500px;
    width: 100%;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(70, 67, 57);
}

#dropdown01{
    padding-right: 5vw;
}

.map-view{
    height: 300px;
    width: 100%;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(70, 67, 57);
}

.thumbnail{
    height: 100px;
}

.img-search{
  height: 100px;
    width: 150px;

}

.img-square{
    height: 100px;
    width: 100px;
}
.img-user{
  height: 100px;
  width: 100px;
  
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  border-style: solid;
    border-width: 3px;
    border-color: rgb(70, 67, 57);
  
}

.img-user-big{
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  margin: 30px;
  border-style: solid;
    border-width: 3px;
    border-color: rgb(70, 67, 57);
  
}

.img-round-index{
  height: 50px;
  width: 50px;
  
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

.img-round{
    height: 100px;
    width: 100px;
    
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
.img-menu{
  height: 50px;
  width: 50px;
  
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

/* FOrmulario de estrellas */
.form-star {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  .form-star p {
    text-align: center;
  }
  
  .form-star label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .clasificacion {
    color: grey;
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  .clasify > label:hover,
  .clasify > label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

  /**/

  .menu-logo{
    height: 50px
  }

  .home-logo{
    width: 100%
  }

  /* carrusel */
  .carousel-inner > .carousel-item > img {
    border-radius: 4px;
    height: 50vh;
    width: 50vh;
    
  }
  .carousel-caption{
    border-radius: 4px;
    background-color:rgba(31, 28, 28, 0.7);
  }

  /* barra de búsqueda */

  .search{
    padding-top: 60px;
  }
  .searchbar{
    margin-left: 40px;
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: rgba(255, 247, 247, 0.815);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(70, 67, 57);
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: rgba(31, 28, 28, 0.7);
    border: 0;
    outline: 0;
    background: none;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    padding: 0 10px;
    width: 50vw;
    caret-color:red;
    }

    .separator{
      padding-left: 10px;
      color: rgb(147, 154, 158);
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    background: white;
    color: #e74c3c;
    background-image: url("../img/logo-mini.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size: 40px;
    }


    .error img{
      width: 90vw;
    }